

/* Start:/bitrix/templates/prostroy_default/components/bitrix/catalog/gopro/style.css?14763611841469*/
.catalog{
	width:100%;
}
.catalog .sidebar{
	width:275px;
	float:left;
}
.catalog .sidebar ul {
	list-style: none;
	padding-left: 0px;
	margin-top: 0;
	margin-bottom: 0px;
}
.catalog .sidebar ul > li {
	list-style-type: none;
}
.catalog .prods{
	margin-left:275px;
}
.catalog .prods .borlef{
	border-left:1px solid #F2F2F2;
}
.catalog .prods .mix{
	padding-bottom:12px;
}
.catalog .prods .sectinfo,
.catalog .prods .mix,
.catalog .prods .ajaxpages_gmci{
	width:100%;
	float:left;
}
.catalog .prods .sectinfo{
	border-top:1px solid #E5E5E5;
}
.catalog .prods .sectinfo .description{
	font-family:Opensanslight,Arial,Helvetica,sans-serif;
	color:#484848;
}
.catalog .prods .compareandpaginator{
	padding:12px 0px;
	border-top:1px solid #E5E5E5;
}
.catalog .prods .compareandpaginator .compare{
	float:left;
	padding-left:17px;
}
.catalog .prods .mix .catalogsorter{
	padding-top:12px;
	border-top:1px solid #E5E5E5;
}
.catalog .errortext {
	margin-left: 15px;
}

@media screen and (max-width:775px){
	body.adaptive .catalog .compare{
		width:100%;
		float:none;
	}
}
@media screen and (max-width:605px){
	body.adaptive .catalog .sidebar,
	body.adaptive .catalog .prods{
		width:100%;
		margin-left:0px;
	}
	body.adaptive .catalog .prods .sectinfo,
	body.adaptive .catalog .prods .mix{
		border-left:none;
	}
	body.adaptive .catalog .prods .mix .compareandpaginator{
		display:none;
	}
	body.adaptive .catalog .prods .compareandpaginator .compare{
		padding-left:0px;
	}
}
/* End */


/* Start:/bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/style.css?14763663595141*/
.newbox-right-fon {
    background: url("/bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/img/personal-right-fon.png") right top no-repeat;
    height: 38px;
    margin: 4px 0 0 0;
    position: relative;
    z-index: 2;
}
.newbox-left-fon {
    background: url("/bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/img/personal-left-fon.png") left top no-repeat;
    height: 38px;
}
.newbox-fon {
    background: url("/bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/img/personal-fon.png") center top repeat-x;
    height: 38px;
    margin: 0 3px 0 3px;
}
.newbox-head {
    height: 38px;
    line-height: 38px;
    margin: 0 10px 0 10px;
    padding: 0;
    width: 100%;
    text-shadow: 0 1px 1px #fff;
}
.newbox-head-right {
    float: right;
    padding-right: 20px;
    line-height: 33px;
}
.pseudo-small {
    border-bottom: 1px #0b7cc1 dotted;
    cursor: pointer;
    color: #0b7cc1;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
}
.pseudo-small:hover {
    color: #ff5c00 !important;
    border-color: #ff5c00 !important;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
}

.newbox-content-catalog {
    background: #FFF;
    border: solid #bbbbbb 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 0px 0px 0px;
    margin: -10px 0 0 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 272px;
}
.treeview, .treeview ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 11px;
}
.treeview li {
    margin: 0;
    padding: 3px 0pt 3px 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
}
.treeview li.expandable {
    background-position: 0 -176px;
}
.treeview li.collapsable {
    background-position: 0 -176px;
}
.collapsable .first {
    color: #ff5c00 !important;
}
.treeview li {
    background: url(/bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/img/treeview-default-line.gif) 0 0 no-repeat;
}
.f1 {
    background: none !important;
}
.treeview .expandable-hitarea {
    background-position: -80px -3px;
}

.expandable .ff {
    top: 5px;
    left: 4px;
    background: url(/bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/img/catalog-menu-arrow-01.png) 5px 2px no-repeat !important;
}
.collapsable .ff {
    top: 5px;
    left: 4px;
    background: url(/bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/img/catalog-menu-arrow-01.png) -38px -36px no-repeat !important;
}
.treeview .hitarea {
    background: url(/bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/img/treeview-default.gif) -64px -25px no-repeat;
    height: 16px;
    width: 16px;
    margin-left: -16px;
    float: left;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.newbox-content-catalog .first {
    background: url(/bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/img/catalog-menu-01.png) 0 0 repeat-x;
    line-height: 36px;
    height: 36px;
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 248px;
    margin: -6px 0 0 -16px;
    padding: 0 0 0 24px;
    color: #6a6a6a;
    text-shadow: 1px 1px 0px #fff;
    font-size: 16px;
    text-align: left;
}
.kolvo {
    position: absolute;
    z-index: 0;
    font-size: 11px;
    color: #a4a9b1;
    display: inline-block;
    top: 11px;
    right: 4px;
    float: right;
    margin: 0;
    height: 11px;
    line-height: 11px;
    font-family: Tahoma, Arial;
    text-shadow: none;
	background: url(/bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/img/catalog-menu-01.png) 0 0 repeat-x;
}
.ml {
    font-size: 11px;
    font-family: Tahoma, Arial;
    margin: 0 0 0 2px;
    color: #535351;
	position: relative;
	top: -3px;
	display:block;
}
.kolvo-2 {
    position: relative;
    z-index: 0;
    font-size: 11px;
    color: #a4a9b1;
    display: inline-block;
    top: 0px;
    right: 3px;
    float: right;
    margin: 0;
    height: 11px;
    line-height: 11px;
    font-family: Tahoma, Arial;
    text-shadow: none;
}
.treeview .expandable-hitarea {
    background-position: -80px -3px;
}
.treeview .hover {
    color: #ff005a;
    cursor: pointer;
}

.treeview li.last {
    background-position: 0 -5989px;
    margin-bottom: 10px !important;
}
.treeview li.lastExpandable {
    background-position: -32px -67px;
    margin-bottom: 10px;
	
}

.treeview li.lastCollapsable, 
.treeview li.lastExpandable {
    background-image: url(/bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/img/treeview-default.gif);
	padding-top:0px;
}
.treeview li.expandable {
    background-position: 0 -176px;
}

.treeview .expandable-hitarea {
    background-position: -80px -3px;
}
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea {
    background-position: -32px -69px;
}
.treeview div.lastCollapsable-hitarea {
	background-position: 0px -114px;
}
.f {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
.llb_2 {
    position: relative;
    clear: both;
    height: 16px;
    line-height: 18px;
    width: 236px;
}
.llh {
    position: absolute;
    width: 50px;
    z-index: 1;
    right: 0px;
    background: url(/bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/img/white_cover.png) right top repeat-y;
    top: 0px;
    text-align: right;
    color: #999;
    font-size: 11px;
    font-family: Tahoma, Arial;
    font-weight: normal;
    padding-right: 5px;
}
.treeview li.lastCollapsable, 
.treeview li.lastExpandable {
    background-image: url(/bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/img/treeview-default.gif) !important;
    padding-top: 0px;
}
.treeview a.selected {
    color: #ff5c00;
    font-weight: bold;
}
.f1>span {text-overflow: ellipsis;  white-space: nowrap;}
.f1>span>.kolvo {padding: 12px 4px; top:1px;right:0}
/* End */


/* Start:/bitrix/templates/prostroy_default/components/bitrix/catalog.smart.filter/gopro/style.css?14756748893804*/
.around_filtren{
	position:relative;
}
.around_filtren .filterfixed.fixed{
	position:fixed;
	top:0px;
	width:251px;
}
.around_filtren .filterfixed.stop{
	position:relative;
}

.filtren{
	position:relative;
	background-color:#fff;
	border-top:1px solid #F3F3F3;
	border-bottom:1px solid #F3F3F3;
	border-left:1px solid #F3F3F3;
}
.filtren .title,
.filtren .filtercompare{
	display:none;
	margin-bottom:5px;
}
.filtren .title a:hover{
	text-decoration:none;
}
.filtren .title a span{
	border-bottom:1px dashed #214496;
}
.filtren.opened .title span.show,
.filtren .title span.hide{
	display:none;
}
.filtren .title span.show,
.filtren.opened .title span.hide{
	display:inline;
}
.filtren .filtercompare{
	float:right;
}
.filtren .showchild{
	display:block;
	padding:7px 20px 7px 7px;
	color:#666666;
	text-transform:uppercase;
	background-color:#F3F3F3;
}
.filtren .showchild:hover{
	color:#fff;
	background-color:#EE8131;
}
.filtren .showchild .icon{
	width:8px;
	height:4px;
	margin-bottom:2px;
	margin-right:5px;
	background-position:0px 0px;/*0px -639px*/
}
.filtren .showchild:hover .icon{
	background-position:0px -8px;
}
.filtren .closed .showchild .icon{
	width:4px;
	height:8px;
	margin-right:7px;
	margin-left:2px;
	background-position:0px -639px;
}
.filtren .closed .showchild:hover .icon{
	width:4px;
	height:8px;
	background-position:-16px -639px;
	
}

.filtren .lvl1.closed > ul{
	display:none;
}
.filtren .lvl1 ul{
	padding:8px 4px;
}

.filtren .lvl1.color .lvl2,
.filtren .lvl1.color .lvl2 label,
.filtren .lvl1.color .lvl2 label span{
	display:inline-block;
}
.filtren .lvl1.color .lvl2 label{
	padding:5px 7px;
	cursor:pointer;
}
.filtren .lvl1.color .lvl2 label:hover{
	background-color:#EE8131;
}
.filtren .lvl1.color .lvl2 label span{
	width:21px;
	height:21px;
	font-size:0;
	vertical-align:middle;
	border:1px solid #EEE;
}
.filtren .lvl1.color .lvl2 label.checked span{
	border:1px solid #F00;
}
.filtren .lvl2 label{
	display:block;
	color:#214496;
	padding:1px 0px;
}
.filtren .lvl2.lvl2_disabled label{
	color:#C9C9C9;
	cursor:default;
}
.filtren .lvl2 label:hover{
	text-decoration:underline;
}
.filtren .lvl2.lvl2_disabled label:hover{
	text-decoration:none;
}
.filtren .pricegroup .lvl2 label{
	width:50%;
	float:left;
}
.filtren .number .inputs{
	text-align:center;
}
.filtren .number .min,
.filtren .number .max{
	margin-left:5px;
	padding:0px;
	text-align:center;
	border:1px solid #F2F2F2;
	box-shadow:none;
}

.filtren .around_f_search{
	margin-bottom:5px;
	padding:4px 4px 3px 4px;
	border:1px solid #F2F2F2;
}
.filtren .around_f_search .f_search{
	width:100%;
	padding:0px;
	border:none;
	box-shadow:none;
}
.filtren .around_f_search .f_search:focus{
	border:none;
}

.filtren .buttons{
	padding:10px 0px;
	text-align:center;
}
.filtren .separator{
	padding:0px 8px;
}

.filtren .modef{
	left:243px;
	min-width:300px;
	position:absolute;
	top:-5px;
	white-space:nowrap;
	z-index:210;
}
.filtren .modef .arrow{
	padding:6px 7px 6px 0px;
	background-image:url('/bitrix/templates/prostroy_default/components/bitrix/catalog.smart.filter/gopro/img/modef_bg.png');
	background-repeat:no-repeat;
	background-position:0px 0px;
}
.filtren .modef .data{
	padding:6px 10px;
	color:#fff;
	background-color:#899cc7;
}
.filtren .modef .data a{
	color:#fff;
	text-decoration:underline;
}
.filtren .modef .data a:hover{
	text-decoration:none;
}

.filtren .f_jscrollpane{
	width:100%;
	height:190px;
	overflow:auto;
}

@media screen and (max-width:875px){
	body.adaptive .filtren .lvl2 label{
		padding:3px 0px;
	}
}
@media screen and (max-width:605px){
	body.adaptive .filtren{
		border:none;
	}
	body.adaptive .filtren .title,
	body.adaptive .filtren .filtercompare{
		display:block;
	}
	body.adaptive .filtren .body{
		display:none;
		margin-top:5px;
	}
	body.adaptive .filtren.opened .body{
		display:block;
	}
	body.adaptive .filtren li.lvl1{
		width:100%;
	}
}
/* End */


/* Start:/bitrix/templates/prostroy_default/components/bitrix/catalog.smart.filter/gopro/slider/slider.css?14756748892174*/
.smartfilter .bx_ui_slider_track{
	position:relative;
	height:6px;
	margin:28px 25px 10px 25px;
	background: url('/bitrix/templates/prostroy_default/components/bitrix/catalog.smart.filter/gopro/slider/trackbar_full.png') 0px 0px no-repeat;
}
.smartfilter .bx_ui_slider_part{
	position:absolute;
	top:-6px;
	width:1px;
	height:17px;
	background:#a2bfc7;
}
.smartfilter .bx_ui_slider_part.p1{left:-1px;}
.smartfilter .bx_ui_slider_part.p2{left:25%;}
.smartfilter .bx_ui_slider_part.p3{left:50%;}
.smartfilter .bx_ui_slider_part.p4{left:75%;}
.smartfilter .bx_ui_slider_part.p5{right:-1px;}
.smartfilter .bx_ui_slider_part span{
	font-size:11px;
	font-weight: bold;
	position:absolute;
	top:-16px;
	left:50%;
	display:block;
	width:100px;
	margin-left:-50px;
	text-align:center;
	color:#000;
}
.smartfilter .bx_ui_slider_part.p2 span,
.smartfilter .bx_ui_slider_part.p3 span,
.smartfilter .bx_ui_slider_part.p4 span{color:#6b8086;}

.smartfilter .bx_ui_slider_range,
.smartfilter .bx_ui_slider_pricebar,
.smartfilter .bx_ui_slider_pricebar_VD,
.smartfilter .bx_ui_slider_pricebar_VN,
.smartfilter .bx_ui_slider_pricebar_V{
	position:absolute;
	top:0px;
	bottom:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.smartfilter .bx_ui_slider_range{
	z-index:100;
}
.smartfilter .bx_ui_slider_pricebar{
	z-index:100;
}

.smartfilter .bx_ui_slider_pricebar_VD{
	background:#849da4;
	z-index:60;
}
.smartfilter .bx_ui_slider_pricebar_VN{
	background: url('/bitrix/templates/prostroy_default/components/bitrix/catalog.smart.filter/gopro/slider/trackbar_full.png') 0px 0px no-repeat;
	z-index:70;
}
.smartfilter .bx_ui_slider_pricebar_V{
	background: #f4ab41;
	z-index:80;
}
.smartfilter .bx_ui_slider_handle{
	position:absolute;
	top:-6px;
	width:22px;
	height:22px;
}
.smartfilter .bx_ui_slider_handle:hover{
	-webkit-cursor:grab;
	-ms-cursor:grab;
	-o-cursor:grab;
	cursor:grab;
}
.smartfilter .bx_ui_slider_handle:active{
	-webkit-cursor:grabbing;
	-ms-cursor:grabbing;
	-o-cursor:grabbing;
	cursor:grabbing;
}
.smartfilter .bx_ui_slider_handle.left{
	left:0;
	margin-left:-9px;
	background-position:0px -647px;
}
.smartfilter .bx_ui_slider_handle.right{
	right:0;
	margin-right:-9px;
	background-position: 0px -647px;
}
/* End */


/* Start:/bitrix/templates/prostroy_default/components/bitrix/catalog.compare.list/gopro/style.css?1475674889394*/
.comparelist .title{
	float:left;
	margin-right:5px;
	padding:5px 0px;
}
.comparelist a{
	display:block;
	float:left;
	padding:5px 14px;
	margin-left:2px;
	text-decoration:none;
	text-decoration:none;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.comparelist a:hover{
	color:#FFF;
	background-color:#EE8131;
	text-decoration:underline;
}
/* End */


/* Start:/bitrix/templates/prostroy_default/components/redsign/catalog.sorter/gopro/style.css?14756748894805*/
.sorter_and_name .catalogsorter{
	position:relative;
	top:-5px;
}

.catalogsorter{
	padding-left:17px;
}
.catalogsorter .sortaou{
	float:left;
}
.bottom  .catalogsorter{
	padding-top:12px;
}
.bottom  .catalogsorter .sortaou{
	float:right;
}
.catalogsorter .sort,
.catalogsorter .shortsort{
	float:left;
	margin-right:25px;
}
.catalogsorter .output{
	float:right;
}
.catalogsorter .template{
	float:right;
}
.catalogsorter .dropdown{
	position:relative;
	float:left;
}
.catalogsorter .title{
	float:left;
	margin-right:5px;
	padding:5px 0px;
}
.catalogsorter .dropdownin{
	position:absolute;
	left:-14px;
	display:none;
	min-width:50px;
	background-color:#FFF;
	border:1px solid #F2F2F2;
	z-index:991;
}
.catalogsorter .dropdown.hover .dropdownin{
	display:block;
}
.catalogsorter .dropdown a.select,
.catalogsorter .dropdown a.select:hover{
	color:#000;
	text-decoration:none;
}
.catalogsorter .dropdownin a{
	display:block;
	padding:5px 14px;
	text-decoration:none;
}
.catalogsorter .dropdownin a:hover{
	color:#FFF;
	background-color:#EE8131;
}
.catalogsorter .dropdownin a.selected{
	text-decoration:underline;
}
/* shortsort & sort */
.catalogsorter .shortsort i,
.catalogsorter .sort i{
	width:8px;
	height:4px;
	margin-left:6px;
	margin-bottom:2px;
	background-position:-8px 0px;
}
.catalogsorter .shortsort i.desc,
.catalogsorter .sort i.desc{
	background-position:0px 0px;
}
.catalogsorter .shortsort a i.asc,
.catalogsorter .sort .dropdownin a i.asc{
	background-position:-8px 0px;
}
.catalogsorter .shortsort a:hover i.asc,
.catalogsorter .shortsort a.selected i.asc,
.catalogsorter .sort .dropdownin a:hover i.asc{
	background-position:-8px -8px;
}
.catalogsorter .shortsort a i.desc,
.catalogsorter .sort .dropdownin a i.desc{
	background-position:0px 0px;
}
.catalogsorter .shortsort a:hover i.desc,
.catalogsorter .shortsort a.selected i.desc,
.catalogsorter .sort .dropdownin a:hover i.desc{
	background-position:0px -8px;
}
/* output */
.catalogsorter .output i{
	width:8px;
	height:4px;
	margin-left:6px;
	margin-bottom:2px;
	background-position:0px 0px;
}
.catalogsorter .output .dropdownin a i{
	display:none;
}
.catalogsorter .sort .dropdown,
.catalogsorter .output .dropdown{
	padding:5px 0px;
}
/* template & shortsort */
.catalogsorter .template a{
	float:right;
}
.catalogsorter .shortsort a{
	float:left;
}
.catalogsorter .template a,
.catalogsorter .shortsort a{
	display:block;
	padding:5px 14px;
	margin-left:2px;
	text-decoration:none;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.catalogsorter .template a:hover,
.catalogsorter .shortsort a:hover{
	color:#FFF;
	background-color:#EE8131;
	text-decoration:underline;
}
.catalogsorter .template a.selected,
.catalogsorter .shortsort a.selected{
	color:#FFF;
	background-color:#EE8131;
}
.catalogsorter .template a:active,
.catalogsorter .shortsort a:active,
.catalogsorter .template a.selected:active,
.catalogsorter .shortsort a.selected:active{
	text-decoration:underline;
	color:#fff;
	background-color:#d36f25;
}
.catalogsorter .template i{
	margin-right:4px;
	margin-bottom:1px;
}
.catalogsorter .template i.table{
	width:10px;
	height:10px;
	background-position:-10px -336px;
}
.catalogsorter .template a:hover i.table,
.catalogsorter .template a.selected i.table,
.catalogsorter .template a:active i.table,
.catalogsorter .template a.selected:active i.table{
	background-position:0px -336px;
}
.catalogsorter .template i.showcase{
	width:11px;
	height:11px;
	background-position:-11px -346px;
}
.catalogsorter .template a:hover i.showcase,
.catalogsorter .template a.selected i.showcase,
.catalogsorter .template a:active i.showcase,
.catalogsorter .template a.selected:active i.showcase{
	background-position:0px -346px;
}
.catalogsorter .template i.gallery{
	width:10px;
	height:10px;
	background-position:-10px -357px;
}
.catalogsorter .template a:hover i.gallery,
.catalogsorter .template a.selected i.gallery,
.catalogsorter .template a:active i.gallery,
.catalogsorter .template a.selected:active i.gallery{
	background-position:0px -357px;
}

.catalogsorter span.drop{
	display:none;
}


@media screen and (max-width:850px){
	body.adaptive .catalogsorter .template a i{
		margin-right:0px;
	}
	body.adaptive .catalogsorter .template a span{
		display:none;
	}
}
@media screen and (max-width:665px) and (min-width:606px){
	body.adaptive .catalogsorter .title{
		display:none;
	}
}
@media screen and (max-width:390px){
	body.adaptive .catalogsorter .sort .title{
		display:none;
	}
}
@media screen and (max-width:650px){
	body.adaptive .catalogsorter .sort,
	body.adaptive .catalogsorter .shortsort,
	body.adaptive .catalogsorter .output{
		margin-right:10px;
	}
}
@media screen and (max-width:605px){
	body.adaptive .catalogsorter{
		padding-left:0px;
	}
}
/* End */


/* Start:/bitrix/templates/prostroy_default/components//bitrix/system.pagenavigation/gopro/style.css?1475674889475*/
.navigation{
	float:right;
	padding-top:12px;
	font-size:14px;
}
.navigation .arrow  .icon{
	width:7px;
	height:14px;
}
.navigation span,
.navigation a{
	display:inline-block;
	padding:0px 5px;
}
.navigation a.arrow.left .icon{
	background-position:-14px -531px;
}
.navigation span.arrow.left .icon{
	background-position:0px -531px;
}
.navigation a.arrow.right .icon{
	background-position:-14px -545px;
}
.navigation span.arrow.right .icon{
	background-position:0px -545px;
}
/* End */


/* Start:/bitrix/templates/prostroy_default/components/bitrix/catalog.section/gopro/style.css?147567488919222*/
/******************************* table *******************************/
.artables.table .products{
	width:100%;
}
.artables.table table.names{
	display:none;
	float:left;
	width:150px;
	border-right:none;
}
.artables.table table.names td.name{
	width:140px;
}
.artables.table .arproducts{
	-webkit-overflow-scrolling:touch;
	overflow-scrolling:touch;
}
.artables.table table{
	border:1px solid #F3F3F3;
}
.artables.table table tr th{
	padding:14px 10px;
	background-color:#F3F3F3;
	font-weight:normal;
}
.artables.table table tr td{
	padding:12px 10px;
}
.artables.table table tr th.free,
.artables.table table tr td.free{
	width:7px;
	padding:0px;
}
.artables.table table tr th.free span,
.artables.table table tr td.free span{
	display:block;
	width:7px;
	min-height:48px;
}
.artables.table table tr.even td{
	background-color:#fafafa;
}
.artables.table table.products div.name{
	min-width:143px;
}
.artables.table table.products tr:hover td{
	color:#FFF;
	background-color:#899cc7;
}
.artables.table table.products tr:hover td.name a{
	color:#FFF;
	text-decoration:underline;
}
.artables.table table.products tr:hover td.name a:hover{
	text-decoration:none;
}
.artables.table table.products .add2basketform .submit i,
.artables.table table.products .add2basketform .inbasket i{
	width:23px;
	height:20px;
	margin-left:8px;
	margin-bottom:4px;
	background-position:0 -418px;
}
.artables.table table.products tr:hover .add2basketform .submit i,
.artables.table table.products tr:hover .add2basketform .inbasket i{
	background-position:-23px -418px;
}
.artables.table table.products tr:hover .add2basketform.in .tick,
.artables.table table.products tr:hover .add2basketform.in .tick{
	/*background-position:-16px -595px; big*/
	background-position:-13px -579px;/* small*/
}
.artables.table table.products tr:hover .add2basketform input,
.artables.table table.products tr:hover .add2basketform .js-measurename{
	color:#000;
}
.artables.table table th,
.artables.table table td{
	text-align:center;
}
.artables.table table th.name,
.artables.table table td.name{
	text-align:left;
}

.artables.table .add2basketform.in .inbasket{
	display:none;
}
.artables.table .add2basketform .tick{
	visibility:hidden;
	/*width:16px; big*/
	width:13px;/* small*/
	/*height:16px; big*/
	height:9px;/* small*/
	margin-left:8px;
	/*background-position:-16px -613px; big*/
	background-position:-13px -588px;/* small*/
}
.artables.table .add2basketform.in .tick{
	visibility:visible;
}
/* /add2basket */

/* js table fix */
.artables.table.adap .arproducts{
	overflow-x:scroll;
	overflow-y:hidden;
}
.artables.table.adap table.products{
	border-left:none;
}
.artables.table.adap table.products th.free,
.artables.table.adap table.products td.free,
.artables.table.adap table.products th.name,
.artables.table.adap table.products td.name{
	width:0px;
	max-width:0px;
	padding:0px;
	margin:0px;
	overflow:hidden;
}
.artables.table.adap table.products th.free span,
.artables.table.adap table.products td.free span{
	width:0px;
}
.artables.table table td.free span.qb{
	background-color:#66b132;
}
.artables.table table td.free span.da2,
.artables.table table td.free span.da2.qb{
	background-color:#c5007c;
}
.artables.table.adap table.products div.name{
	width:143px;
	padding:12px 10px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.artables.table.adap table.names{
	display:block;
}
/* /js table fix */
@media screen and (max-width: 1010px){
	body.adaptive .artables.table .arproducts{
		overflow-x:scroll;
		overflow-y:hidden;
	}
	body.adaptive .artables.table table.products{
		border-left:none;
	}
	body.adaptive .artables.table table.products th.free,
	body.adaptive .artables.table table.products td.free,
	body.adaptive .artables.table table.products th.name,
	body.adaptive .artables.table table.products td.name{
		width:0px;
		max-width:0px;
		padding:0px;
		margin:0px;
		overflow:hidden;
	}
	body.adaptive .artables.table table.products th.free span,
	body.adaptive .artables.table table.products td.free span{
		width:0px;
	}
	body.adaptive .artables.table table.products div.name{
		width:143px;
		padding:12px 10px;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		-moz-opacity:0;
		-khtml-opacity:0;
		opacity:0;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	body.adaptive .artables.table table.names{
		display:block;
	}
}
/******************************* /table *******************************/

/******************************* gallery *******************************/
.artables.gallery .products{
	width:100%;
}
.artables.gallery table.names{
	display:none;
	float:left;
	width:150px;
	border-right:none;
}
.artables.gallery table.names td.name{
	width:140px;
}
.artables.gallery .arproducts{
	-webkit-overflow-scrolling:touch;
	overflow-scrolling:touch;
}
.artables.gallery table{
	border:1px solid #F3F3F3;
}
.artables.gallery table tr th{
	padding:14px 10px;
	font-weight:normal;
	background-color:#F3F3F3;
}
.artables.gallery table tr td.name,
.artables.gallery table tr td.nowrap{
	padding:12px 10px;
}
.artables.gallery table tr th.free,
.artables.gallery table tr td.free{
	width:7px;
	padding:0px;
}
.artables.gallery table tr th.free span,
.artables.gallery table tr td.free span{
	display:block;
	width:7px;
	min-height:48px;
}
.artables.gallery table tr.even td{
	background-color:#fafafa;
}
.artables.gallery table.products div.name{
	min-width:143px;
}
.artables.gallery table.names tr td.name table.smpl,
.artables.gallery table.names tr td.name table.smpl tr td,
.artables.gallery table.products tr td.name table.smpl,
.artables.gallery table.products tr td.name table.smpl tr td{
	padding:0px;
	border:none;
}
.artables.gallery table.names tr td.name table.smpl tr td.nm a,
.artables.gallery table.products tr td.name table.smpl tr td.nm a,
.artables.gallery table.names tr td.name table.smpl tr td.nm span,
.artables.gallery table.products tr td.name table.smpl tr td.nm span{
	display:block;
	padding-left:7px;
}
.artables.gallery table.names tr td.name table.smpl tr td.nm a > span,
.artables.gallery table.products tr td.name table.smpl tr td.nm a > span{
	padding-left: 0px;
}
.artables.gallery table.names tr td.name table.smpl tr td.nm,
.artables.gallery table.products tr td.name table.smpl tr td.nm{
	text-align:left;
}
.artables.gallery table.products tr:hover td{
	color:#FFF;
	background-color:#899cc7;
}
.artables.gallery table.products tr:hover td.name a{
	color:#FFF;
	text-decoration:underline;
}
.artables.gallery table.products tr:hover td.name a:hover{
	text-decoration:none;
}
.artables.gallery table.products .add2basketform .submit i,
.artables.gallery table.products .add2basketform .inbasket i{
	width:23px;
	height:20px;
	margin-left:5px;
	margin-bottom:4px;
	background-position:0 -418px;
}
.artables.gallery table.products tr:hover .add2basketform .submit i,
.artables.gallery table.products tr:hover .add2basketform .inbasket i{
	background-position:-23px -418px;
}
.artables.gallery table.products tr:hover .add2basketform.in .tick,
.artables.gallery table.products tr:hover .add2basketform.in .tick{
	/*background-position:-16px -595px; big*/
	background-position:-13px -579px;/* small*/
}
.artables.gallery table.products tr:hover .add2basketform input,
.artables.gallery table.products tr:hover .add2basketform .js-measurename{
	color:#000;
}
.artables.gallery table th,
.artables.gallery table td{
	text-align:center;
}
.artables.gallery table th.name,
.artables.gallery table td.name{
	text-align:left;
}
.artables.gallery .add2basketform.in .inbasket{
	display:none;
}
.artables.gallery .add2basketform .tick{
	visibility:hidden;
	/*width:16px; big*/
	width:13px;/* small*/
	/*height:16px; big*/
	height:9px;/* small*/
	margin-left:5px;
	/*background-position:-16px -613px; big*/
	background-position:-13px -588px;/* small*/
}
.artables.gallery .add2basketform.in .tick{
	visibility:visible;
}
/* /add2basket */
/* js table fix */
.artables.gallery.adap .arproducts{
	overflow-x:scroll;
	overflow-y:hidden;
}
.artables.gallery.adap table.products{
	border-left:none;
}
.artables.gallery.adap table.products th.free,
.artables.gallery.adap table.products td.free,
.artables.gallery.adap table.products th.name,
.artables.gallery.adap table.products td.name{
	width:0px;
	max-width:0px;
	padding:0px;
	margin:0px;
	overflow:hidden;
}
.artables.gallery.adap table.products th.free span,
.artables.gallery.adap table.products td.free span{
	width:0px;
}
.artables.gallery table td.free.qb,
.artables.gallery table td.free span.qb,
.artables.gallery table.products tr:hover td.free.qb,
.artables.gallery table.products tr:hover td.free span.qb{
	background-color:#66b132;
}
.artables.gallery table td.free.da2,
.artables.gallery table td.free.da2.qb,
.artables.gallery table td.free span.da2,
.artables.gallery table td.free span.da2.qb,
.artables.gallery table.products tr:hover td.free.da2,
.artables.gallery table.products tr:hover td.free.da2.qb,
.artables.gallery table.products tr:hover td.free span.da2,
.artables.gallery table.products tr:hover td.free span.da2.qb{
	background-color:#c5007c;
}
.artables.gallery.adap table.products div.name{
	width:143px;
	padding:12px 10px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.artables.gallery.adap table.names{
	display:block;
}
.body .artables.gallery.adap table.products td.free.qb,
.body .artables.gallery.adap table.products td.free span.qb
.body .artables.gallery.adap table.products td.free.da2,
.body .artables.gallery.adap table.products td.free.da2.qb,
.body .artables.gallery.adap table.products td.free span.da2,
.body .artables.gallery.adap table.products td.free span.da2.qb{
	background-color:#fff;
}
/* /js table fix */
@media screen and (max-width: 1010px){
	body.adaptive .artables.gallery .arproducts{
		overflow-x:scroll;
		overflow-y:hidden;
	}
	body.adaptive .artables.gallery table.products{
		border-left:none;
	}
	body.adaptive .artables.gallery table.products th.free,
	body.adaptive .artables.gallery table.products td.free,
	body.adaptive .artables.gallery table.products th.name,
	body.adaptive .artables.gallery table.products td.name{
		width:0px;
		max-width:0px;
		padding:0px;
		margin:0px;
		overflow:hidden;
	}
	body.adaptive .artables.gallery table.products th.free span,
	body.adaptive .artables.gallery table.products td.free span{
		width:0px;
	}
	body.adaptive .artables.gallery table.products div.name{
		width:143px;
		padding:12px 10px;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		-moz-opacity:0;
		-khtml-opacity:0;
		opacity:0;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	body.adaptive .artables.gallery table.names{
		display:block;
	}
	body.adaptive .artables.gallery table.products td.free.qb,
	body.adaptive .artables.gallery table.products td.free span.qb
	body.adaptive .artables.gallery table.products td.free.da2,
	body.adaptive .artables.gallery table.products td.free.da2.qb,
	body.adaptive .artables.gallery table.products td.free span.da2,
	body.adaptive .artables.gallery table.products td.free span.da2.qb{
		background-color:#fff;
	}
}
/******************************* /gallery *******************************/

/******************************* showcase *******************************/
.showcase{
	width:100%;
}
.showcase .js-element{
	position:relative;
	float:left;
	width:25%;
}
.showcase.columns5 .js-element{
	width:20%;
}
.showcase .js-element .inner{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	min-height:325px;
	background-color:#fff;
	border:1px solid #F2F2F2;
	z-index:100;
}
.showcase .js-element .padd{
	padding:10px 10px 4px 10px;
}
.showcase .js-element{
	height:325px;
}
.showcase.big .js-element{
	height:378px;
}
/* hover */
.showcase .js-element .popup{
	display:none;
}
.showcase .js-element:hover .inner,
.showcase .js-element.hover .inner{
	border:1px solid #cccccc;
	z-index:110;
}
.showcase .js-element:hover .popup,
.showcase .js-element.hover .popup{
	display:block;
}
/* /hover */

.showcase .name{
	height:35px;
	text-align:center;
	overflow:hidden;
}
.showcase .pic{
	position:relative;
	padding:10px 0px;
	text-align:center;
}
.showcase .pic a,
.showcase .pic span.pic{
	display:block;
	width:100%;
	height:170px;
	line-height:170px;
	text-align:center;
}
.showcase .pic a img,
.showcase .pic span.pic img{
	display:inline-block;
	vertical-align:middle;
}
/* timers */
.showcase .pic .timers{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
}
.showcase .pic .timers .clock{
	float:left;
	padding:14px 6px;
	background-color:#748080;
	-khtml-border-radius:3px 0px 0px 3px;
	-moz-border-radius:3px 0px 0px 3px;
	-webkit-border-radius:3px 0px 0px 3px;
	border-radius:3px 0px 0px 3px;
}
.showcase .pic .timers .clock i{
	width:16px;
	height:16px;
	background-position:0px 0px;
	background-repeat:no-repeat;
}
.showcase .pic .timers .timer{
	margin:0 auto;
	background-color:#e8e8e8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity:.7;
	-khtml-opacity:.7;
	opacity:.7;
	-khtml-border-radius:0px 3px 3px 0px;
	-moz-border-radius:0px 3px 3px 0px;
	-webkit-border-radius:0px 3px 3px 0px;
	border-radius:0px 3px 3px 0px;
}
.showcase .pic .timers .timer .intimer{
	float:left;
	padding:8px 11px 0px;
}
.showcase .pic .timers .timer .val,
.showcase .pic .timers .timer .dvoet{
	float:left;
}
.showcase .pic .timers .timer .val.ml{
	margin-left:10px;
}
.showcase .pic .timers .timer .val .value,
.showcase .pic .timers .timer .val .podpis{
	width:100%;
}
.showcase .pic .timers .timer .val .value,
.showcase .pic .timers .timer .dvoet{
	font:17px Arial,Helvetica,sans-serif;
	font-weight:bold;
	letter-spacing:3px;
}
.showcase .pic .timers .timer .podpis{
	font:10px Arial,Helvetica,sans-serif;
}
.showcase .pic .timers .timer .progressbar{
	height:4px;
	margin-top:4px;
	background-color:#d4d9de;
	border:1px solid #b8bcc1;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.showcase .pic .timers .timer .progressbar .progress{
	position:relative;
	top:-1px;
	left:-1px;
	height:4px;
	background-repeat:repeat-x;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.showcase .pic .timers .timer.da2 .progressbar .progress{
	border:1px solid #990060;
}
.showcase .pic .timers .timer.qb .progressbar .progress{
	border:1px solid #62a92c;
}
/* /timers */
/* prices */
.showcase .prices .prices_jscrollpane{
	width:100%;
	overflow:auto;
}
.showcase .prices .prev,
.showcase .prices .next{
	display:block;
	width:100%;
	text-align:center;
	/*
	background:#F3F3F3;
	background:-ms-linear-gradient(top, #f3f3f3, #fff);
	background-image:-moz-linear-gradient(top, #f3f3f3, #fff);
	background-image:-o-linear-gradient(top, #f3f3f3, #fff);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#F3F3F3), to(#FFF));
	background-image:-webkit-linear-gradient(top, #F3F3F3, #FFF);
	background-image:linear-gradient(to bottom, #F3F3F3, #FFF);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3',endColorstr='#fff',GradientType=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#f3f3f3, endColorstr=#fff)";
	*/
}
.showcase .prices .prev .icon,
.showcase .prices .next .icon{
	width:14px;
	height:7px;
	margin-bottom:2px;
}
.showcase .prices .prev .icon{
	background-position:-14px -669px;
}
.showcase .prices .prev:hover .icon{
	background-position:-14px -690px;
}
.showcase .prices .next .icon{
	background-position:0px -669px;
}
.showcase .prices .next:hover .icon{
	background-position:0px -690px;
}
.showcase .prices .pricestable{
	width:100%;
}
.showcase .prices .pricestable tr td{
	padding:8px 10px;
}
.showcase .prices .pricestable tr.even td{
	background-color:#FAFAFA;
}
/* /prices */
/* prices -> soloprice */
.showcase .soloprice{
	padding:10px 20px 0px 20px;
	text-align:center;
}
.showcase .soloprice span{
	display:inline-block;
	margin-bottom:6px;
}
.showcase .soloprice .price.gen{
	display:block;
	font-size:18px;
	margin-bottom:10px;
}
.showcase .soloprice .price.old{
	margin-right:25px;
}
/* /prices -> soloprice */
.showcase .buy,
.showcase .description{
	margin-top:20px;
}
.showcase .buy .quantity{
	margin-top:3px;
}
.showcase .buy .add2basket,
.showcase .buy .inbasket{
	float:right;
	padding:4px 15px;
}
/* compare */
.showcase .compare{
	margin-top:12px;
}
/* /compare */
/* favorite & share */
.showcase .favorishare{
	margin-top:5px;
}
.showcase .add2favorite{
	color:#666666;
	font-size:11px;
	text-decoration:none;
}
.showcase .add2favorite:hover{
	color:#214496;
	text-decoration:underline;
}
.showcase .add2favorite .icon,
.showcase .add2favorite .counter{
	margin-right:3px;
}
.showcase .add2favorite .icon{
	width:12px;
	height:10px;
	margin-bottom:2px;
	background-position:0px -629px;
}
.showcase .add2favorite.in .icon{
	background-position:-12px -629px;
}
.showcase .share{
	float:right;
}
.showcase .share .b-share-icon{
	height:10px;
	background-repeat:no-repeat;
}
.showcase .share .b-share{
	padding:1px 0px!important;
}
.showcase .share .b-share__handle{
	padding:5px 3px 1px 7px!important;
}
.showcase .share a .b-share-icon.b-share-icon_vkontakte{
	width:9px;
	background-position:0px -301px;
}
.showcase .share a:hover .b-share-icon.b-share-icon_vkontakte{
	background-position:-9px -301px;
}
.showcase .share a .b-share-icon.b-share-icon_facebook{
	width:6px;
	background-position:0px -291px;
}
.showcase .share a:hover .b-share-icon.b-share-icon_facebook{
	background-position:-6px -291px;
}
.showcase .share a .b-share-icon.b-share-icon_twitter{
	width:8px;
	background-position:0px -311px;
}
.showcase .share a:hover .b-share-icon.b-share-icon_twitter{
	background-position:-8px -311px;
}
.showcase .share a.email2friend .icon{
	width:14px;
	height:10px;
	background-position:0px -280px;
}
.showcase .share a.email2friend:hover .icon{
	background-position:-14px -280px;
}

.showcase .favorite{
	float:left;
}
/* /favorite & share */
/* 605px - small filter */
@media screen and (max-width:1280px) and (min-width:1001px){
	body.adaptive .showcase.columns5 .js-element{
		width:25%;
	}
	body.adaptive .showcase .js-element{
		width:33%;
	}
}
@media screen and (max-width:1000px) and (min-width:761px){
	body.adaptive .showcase.columns5 .js-element{
		width:33%;
	}
	body.adaptive .showcase .js-element{
		width:50%;
	}
}
@media screen and (max-width:760px) and (min-width:606px){
	body.adaptive .showcase.columns5 .js-element{
		width:50%;
	}
	body.adaptive .showcase .js-element{
		width:100%;
	}
}
@media screen and (max-width:605px) and (min-width:541px){
	body.adaptive .showcase.columns5 .js-element,
	body.adaptive .showcase .js-element{
		width:50%;
	}
}
@media screen and (max-width:540px){
	body.adaptive .showcase.columns5 .js-element,
	body.adaptive .showcase .js-element{
		width:100%;
	}
}
/******************************* /showcase *******************************/
/* End */
/* /bitrix/templates/prostroy_default/components/bitrix/catalog/gopro/style.css?14763611841469 */
/* /bitrix/templates/prostroy_default/components/bitrix/menu/catalog_left/style.css?14763663595141 */
/* /bitrix/templates/prostroy_default/components/bitrix/catalog.smart.filter/gopro/style.css?14756748893804 */
/* /bitrix/templates/prostroy_default/components/bitrix/catalog.smart.filter/gopro/slider/slider.css?14756748892174 */
/* /bitrix/templates/prostroy_default/components/bitrix/catalog.compare.list/gopro/style.css?1475674889394 */
/* /bitrix/templates/prostroy_default/components/redsign/catalog.sorter/gopro/style.css?14756748894805 */
/* /bitrix/templates/prostroy_default/components//bitrix/system.pagenavigation/gopro/style.css?1475674889475 */
/* /bitrix/templates/prostroy_default/components/bitrix/catalog.section/gopro/style.css?147567488919222 */
